.cv-container {
  background-color: white;
  margin-top: 40px;
  box-shadow: 2px -1px 13px -3px #000000;
  padding: 20px;
}

.personal-details-cv {
  border-bottom: 2px solid black;
  padding-top: 20px;
  padding-bottom: 20px;
}

.work-experience-cv {
  border-bottom: 2px solid black;
  padding-top: 20px;
  padding-bottom: 20px;
}

.education-cv {
  padding-top: 20px;
  padding-bottom: 20px;
}

.cv-name {
  color: black;
  margin-bottom: 10px;
}

.section-title {
  color: white;
  font-size: 32px;
  padding: 20px;
}